:root {
    --neutral-black: #18191f;
    --neutral-white: #fff;

    --text-gray-300: #d9dbe1;

    --brand-primary: #4caf4f;
    --brand-info: #2194f3;

    --neutral-black: #263238;
    --neutral-silver: #f5f7fa;

    --neutral-d-grey: #4d4d4d;
    --neutral-grey: #717171;
    --neutral-l-grey: #89939e;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #ffffff;
    background-color: var(--neutral-white);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* header section */
.header {
    border: 1px solid red;
    background-color: var(--neutral-silver);
    height: 5.25rem;
    padding: 3.87rem 6.56rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.header__nav--list {
    display: flex;
    gap: 3.12rem;
}

.header__nav--list li a {
    color: var(--neutral-black);
}

.header__buttons {
    display: flex;
    gap: 0.88rem;
}

.btn {
    background-color: var(--brand-primary);
    color: var(--neutral-white);
    border-radius: 0.375rem;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.btn-inverse {
    background: var(--neutral-silver);
    color: var(--brand-primary);
}

.primary-heading {
    color: var(--neutral-d-grey);
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.75rem;
}

.secondary-heading {
    color: var(--neutral-d-grey);
    text-align: center;
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 4rem;
}

.tertiary-heading {
    color: var(--neutral-d-grey);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.2rem;
    padding: 0 4.1rem;
}

.paragraph {
    color: var(--neutral-grey);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 2rem 0;
}

/* hero container */
.hero {
    background-color: var(--neutral-silver);
    display: flex;
    padding: 6rem 9rem;
    align-items: center;
    gap: 6.5rem;
    position: relative;
    border: 1px solid red;
}

.primary-heading span {
    color: var(--brand-primary);
}

.hero__image-container {
    justify-content: flex-start;
}

.hero__ellipse-container {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    display: flex;
    gap: 1rem;
}

.hero__ellipse-container--ellipse {
    width: 0.925rem;
    height: 0.925rem;
    border-radius: 50%;
    background-color: var(--brand-primary);
}

/* clients container */
.clients {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 116rem;
    padding: 0 9rem;
    margin: 2.5rem 0;
    align-items: center;
}

.clients__logo--container {
    display: flex;
    height: 7.125rem;
    min-width: 116rem;
    justify-content: space-between;
}

/* community section */
.community {
    border: 1px solid red;
    min-width: 116rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* frame section */
.frame {
    border: 1px solid red;
    min-width: 116rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9rem;
}

.frame__member {
    display: flex;
    width: 32rem;
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
}

.frame__member__icon--container {
    position: relative;
}

.rectangle {
    width: 3.9rem;
    height: 3.8rem;
    border-radius: 1.125rem 0.3125rem 0.625rem 0.3125rem;
    background-color: #e8f5e9;
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    z-index: -999;
}

/* unlock section */
.unlock {
    border: 1px solid red;
    min-width: 116rem;
    padding: 0 9rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__image-container {
    border: 1px solid red;
}

.hero__text-container {
    border: 1px solid red;
    display: flex;
    /* width: 69rem; */
    flex-direction: column;
    align-items: flex-start;
}

.hero__text-container > * {
    text-align: left;
}
